body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(circle at top, #3a1c71, #000);
}


.app {
  width: 100%;
  max-width: 400px;
  min-height: 100vh;
  border-radius: 30px;
  padding: 20px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.top {
  width: 100%;
}

.top input {
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.1);
  color: white;
  font-size: 14px;
}

.top input::placeholder {
  color: #ccc;
}


.city {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
}


.icon img {
  width: 25vw;
  max-width: 120px;
}

h1 {
  font-size: 10vw;
  max-font-size: 60px;
  margin: 10px 0;
}


.condition {
  color: #ccc;
  margin-bottom: 10px;
}


.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0;
}

.info div {
  flex: 1;
  text-align: center;
}

.info div p {
  margin: 0 0 5px 0;
  font-size: 12px;
  color: #ccc;
}


.hourly-title {
  margin-top: 10px;
  font-weight: 500;
}

.hourly {
  display: flex;
  gap: 10px;
  padding: 10px 5px;
  width: 100%;
  overflow-x: auto;
  justify-content: flex-start;
}


.hourly::-webkit-scrollbar {
  display: none;
}


.hour-card {
  min-width: 75px;
  padding: 12px;
  border-radius: 20px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  text-align: center;
  flex-shrink: 0;
}


@media (min-width: 600px) {
  .app {
    max-width: 500px;
    padding: 25px;
  }

  h1 {
    font-size: 50px;
  }
}


@media (min-width: 900px) {
  .app {
    max-width: 600px;
  }

  .hour-card {
    min-width: 90px;
  }
}
